<nav class="navbar navbar-expand-lg navbar-beige">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/images/logo.jpg" alt="Amour De Beauté" height="38" class="me-2">
      <span>Amour De Beauté</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/">Басты бет</a></li>
        <li class="nav-item"><a class="nav-link" href="/products">Каталог</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">Біз туралы</a></li>
      </ul>
      <form class="d-flex me-3" action="/products" method="GET">
        <div class="input-group">
          <input class="form-control" type="search" name="search" placeholder="Өнімдерді іздеу">
          <button class="btn btn-beige" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link position-relative" href="/cart">
            <i class="fas fa-shopping-bag fs-5"></i>
            <% if (locals.session && locals.session.cart && locals.session.cart.length > 0) { %>
              <span class="badge bg-secondary position-absolute top-0 start-100 translate-middle">
                <%= locals.session.cart.length %>
              </span>
            <% } %>
          </a>
        </li>
        <% if (locals.user) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
              <i class="fas fa-user me-1"></i><%= locals.user.name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="/profile"><i class="fas fa-user me-2"></i>Профиль</a></li>
              <li><a class="dropdown-item" href="/orders/mine"><i class="fas fa-shopping-bag me-2"></i>Менің тапсырыстарым</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt me-2"></i>Шығу</a></li>
            </ul>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">
              <i class="fas fa-sign-in-alt me-1"></i>Кіру
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>