<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="Amour De Beauté" height="40">
        Amour De Beauté
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Басты бет</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Каталог</a>
          </li>
          <% if (locals.user && locals.user.role === 'admin') { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Әкімші
              </a>
              <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                <li><a class="dropdown-item" href="/products/admin/create">Өнім қосу</a></li>
                <li><a class="dropdown-item" href="/orders">Барлық тапсырыстар</a></li>
              </ul>
            </li>
          <% } %>
        </ul>
        
        <form class="d-flex me-2" action="/products" method="GET">
          <input class="form-control me-2" type="search" name="search" placeholder="Өнімдерді іздеу" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Іздеу</button>
        </form>
        
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/cart">
              <i class="fas fa-shopping-cart"></i>
              <% if (locals.session && locals.session.cart && locals.session.cart.length > 0) { %>
                <span class="badge bg-light text-dark"><%= locals.session.cart.length %></span>
              <% } %>
            </a>
          </li>
          
          <% if (locals.user) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <%= locals.user.name %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="/profile">Профиль</a></li>
                <li><a class="dropdown-item" href="/orders/mine">Менің тапсырыстарым</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Шығу</a></li>
              </ul>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Кіру</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Тіркелу</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>